@font-face {
    font-family: Dosis;
    src: url(assets/fonts/Dosis/Dosis-VariableFont_wght.ttf);
}
* {
margin:0;
padding: 0;
box-sizing: border-box;
font-family: Dosis;


}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    scroll-snap-align: start;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 45px 150px;
    font-size: 25px;
}
.nav-bar div{
    display: flex;

}
.nav-bar .links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-bar .links a:visited a:link{
    color: blueviolet;
}
.nav-bar .links a:link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    margin-left: 10px;
}
.nav-bar .links a:hover{
    color: red;
   }

.nav-bar .socials i{
    padding: 10px;
   }
.middleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-transform: uppercase;
    font-size: 60px;
    
}

.one{
    background-color: rgba(18,18,18,255)
    ;
}
.two{
    background-color: rgb(211, 79, 79);
}
.three{
    background-color: rgb(67, 91, 175);
}

