/*
* Author: Faras Al kharusi
* Date Dec/24/2021
*/
@font-face {
  font-family: Dosis;
  src: url(assets/fonts/Dosis/Dosis-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Dosis;
}

body {
  background-color: #0f1212;
}

.container {
  height: 100vh;
  overflow: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

section .middleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-transform: uppercase;
  font-size: 60px;
}

section .middleContainer h5 {
  font-size: 25px;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 45px 150px;
  font-size: 25px;
}

.nav-bar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar .links a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 20px;
  color: #2e56d8;
  text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.nav-bar .links a:hover {
  color: #c80000;
}

.nav-bar .socials i {
  padding: 10px;
}

.nav-bar .socials i:hover {
  color: #c80000;
}

.two {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  scroll-snap-align: start;
}

.two .portrait-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.two .two-content {
  margin: 300px 0 auto 70px;
  opacity: 0.5;
  position: relative;
  right: 0;
  z-index: -1;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.two .two-content h1 {
  line-height: 1;
  padding-bottom: 10px;
}

.two .two-content #I-am {
  font-size: 30px;
}

.two .two-content #hello {
  font-size: 50px;
}

.two .two-content #my-name {
  font-size: 100px;
  padding-top: 15px;
}

.two .two-content #about-me {
  width: 50%;
}

.two .two-content:hover {
  opacity: 100%;
}

.work {
  padding-top: 300px;
  place-items: center center;
  height: 500vh;
}

.work .middleContainer {
  height: 100px;
  margin-bottom: 40px;
}

.work .middleContainer h1 {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.work .middleContainer .active {
  opacity: 1;
}

.work .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 40px;
}

.work .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1c1b29;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  width: 400px;
  height: 600px;
  bottom: 0px;
  -webkit-transition: opacity 1.7s ease-in-out, bottom 0.2s ease;
  transition: opacity 1.7s ease-in-out, bottom 0.2s ease;
}

.work .cards .card .icons {
  position: absolute;
  z-index: 1;
  bottom: 40%;
  right: 0;
  font-size: 18px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.work .cards .card .icons a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.work .cards .card .icons a:hover {
  opacity: 1;
}

.work .cards .card .icons a i {
  padding-left: 20px;
}

.work .cards .card .container {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  height: 60%;
}

.work .cards .card .container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
  -o-object-position: 0px 4%;
     object-position: 0px 4%;
}

.work .cards .card .container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.8;
  background-image: linear-gradient(135deg, black, rgba(124, 68, 68, 0.356));
}

.work .cards .card .details {
  padding: 20px 10px;
}

.work .cards .card .details h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0 15px 0;
}

.work .cards .card .details .tech-used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 15px;
  width: 80%;
  font-family: monospace;
  opacity: 0.5;
  margin: 40px 17px auto;
  white-space: nowrap;
  word-wrap: break-word;
}

.work .cards .card .details p {
  color: #a0a0a0;
  display: block;
  font-size: 15px;
  margin-right: 10px 10px;
  font-weight: 400;
  margin: 3px 5px;
}

.work .cards .card:hover {
  bottom: 20px;
  cursor: pointer;
}

.work .cards .active {
  opacity: 1;
}
/*# sourceMappingURL=styles.css.map */